# Unity text serialization & Smart Merge

# Force text for code & shaders
*.cs diff=csharp text
*.shader text
*.cginc text

# Unity YAML files (enable Smart Merge)
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf

# Git LFS (Large Binary Assets Only)

# 3D models / source art
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text

# Audio / video
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text

# Unity export packages
*.unitypackage filter=lfs diff=lfs merge=lfs -text

# Vuplex native binaries
SlyUnity/Assets/Vuplex/**/*.dll filter=lfs diff=lfs merge=lfs -text
SlyUnity/Assets/Vuplex/**/*.bundle filter=lfs diff=lfs merge=lfs -text
SlyUnity/Assets/Vuplex/**/*.pak filter=lfs diff=lfs merge=lfs -text
SlyUnity/Assets/Vuplex/**/*.dat filter=lfs diff=lfs merge=lfs -text
SlyUnity/Assets/Vuplex/**/*.bin filter=lfs diff=lfs merge=lfs -text